@media (max-width: 600px) {
  .div-header {
    display: none;
  }

  header .options {
    flex-direction: column;
  }

  header .options article {
    width: 100%;
    text-align: center;
  }

  header .options article a {
    display: none;
  }

  .gallery {
    flex-direction: column;
    align-items: center;
  }

  .gallery div {
    display: none;
  }

  .blog-title h4 {
    font-size: 1.5em;
    padding-top: 0.5em;
  }

  .blog-title h4 span {
    display: none;
  }

  .blog-title a {
    display: none;
  }

  .blog article img {
    display: none;
  }

  #about-blog {
    width: 80%;
  }

  #about-blog h3 {
    font-size: 1em;
  }

  .magazine-title h4 {
    font-size: 1.5em;
    padding-top: 0.5em;
  }

  .magazine-title a {
    display: none;
  }

  .magazine article {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #magazine-img {
    margin-left: 0;
  }

  .magazine-info {
    padding-inline: 3em;
    margin-left: 0;
    text-align: center;
  }

  .magazine-info img {
    width: 100%;
  }

  .magazine-info h3 {
    font-size: 1.5em;
  }

  .magazine-info p {
    padding-block: 1.5em;
  }

  .magazine-info button {
    margin-left: 0;
  }

  footer {
    flex-direction: column;
  }

  footer .icons {
    display: flex;
    flex-direction: column;
  }

  .magazine-title,
  .blog-title {
    padding-inline: 4em;
  }
}
