html {
  font-family: sans-serif;
}

body {
  padding: 3em;
}

h2 {
  font-family: serif;
}

header {
  border-bottom: 2px solid rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 1em;
  margin: 0 auto;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: rgb(0, 153, 0);
  text-decoration: none;
}
